
<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
           body{
            background-color: lightcyan;
        }
        h1{
            color: #ffff;
            font-size: 100px;
            font-weight: 400;
            text-shadow: 0 0 7px aqua, 0 0 10px blue;
        }
        .quy-dinh{
            font-size:25px;
            font-weight:400;
            color: dodgerblue;
        }
        html{
            text-decoration: none;
        }
        </style>
    <title>
        @{
            ViewData["Title"] = "regulations";
        }
    </title>
</head>
<body>
    <div class="container">
        <div class="">
    <h1>@ViewData["Title"]</h1>

        <p>REGULATIONS AT THE CINEMA.</p>
    <ol>
        <li>No filming or taking photos.</li>
        <li>Turn off the phone ringer.</li>
        <li>No smoking.</li>
        <li>Do not cause disorder.</li>
        <li>No rubber steps.</li>
        <li>Doesn't bring fun into the theater.</li>
        <li>Carefully preserve personal property.</li>
        <li>Only food and drinks purchased at CGV Cinemas are allowed to be brought into the theater.</li>
        <li>Do not use wine, beer, alcoholic drinks (of any alcohol content), or other stimulants in CGV Cinemas.</li>
        <li>From 10 p.m. CGV Cinemas does not serve customers under 13 years old.</li>
    </ol>
    </div>
    </div>
</body>
</html>
